<script>
 import {mapState} from 'vuex';
export default {
    name:'TopMenu',
   computed:{
       ...mapState({
         userStore: state => state.userStore.userAuth
       })
     },
     methods:{
       logout(){
         window.localStorage.removeItem('userAuth');
         this.$store.dispatch('clearUser');
         window.location.reload()
       }
     },
     mounted(){
       this.$nextTick(()=>{
        $('.dropdown-toggle').dropdown()
       })
     }
}
</script>

<template>
<div>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <router-link :to="{name:'dashboard'}">Dashboard</router-link>
      </li>
       
      <li class="nav-item  px-2">
        <router-link :to="{name:'chat'}">Chat</router-link>
      </li>
    </ul>
    
      <div class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{userStore.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" @click='logout'>logout</a> 
        </div>
      </div>
  </div>
</nav>
</div>
</template>

<style lang="sass">
    
</style>