<script>
//import Vue from 'vue'
import {mapState} from 'vuex';
import {chatSaveUrl,getHeaders} from '../../configs';
export default {
    name:'ChatAddNewMessage',
    data(){
        return{
            message:null
        }
    },
    computed:{
        ...mapState({
            chatStore:state => state.chatStore
        }),

    },
    methods:{
        handleAddNewMesssage(){
            if(this.message != null){
                 let postData={
                receiver_id:this.chatStore.currentChatUser.id,
                chat:this.message
                }
            this.$store.dispatch('addNewMessage',postData).then(respons=>{
                this.message='';
            })
            };
           
        }
    }
}
</script>

<template>

<div id="addnew message">

    <form action="" @submit.prevent='handleAddNewMesssage'>
        <div class="input-group mb-3">
             <input type="text" v-model='message' class="form-control" placeholder="message" aria-label="message" aria-describedby="basic-addon1">
             <div class="input-group-prepend">
                 <button type='submit' class='input-group-text btn btn-info btn-sm'>Send</button>
            </div>
        </div>
    </form>
</div>
</template>