<script>

import {mapState} from 'vuex';
export default {
    name:"ChatWidget",

    computed:{
        ...mapState({
            chatStore:state=>state.chatStore, 
        })
    },
    created(){
        this.$store.dispatch('setUserList')
    }
}

</script>

<template>
    <div class="warapper-chat-body" id="warpper-chat-page">
        
        <section class="conversation">
             <div   class="sender-data clearfix py-2 my-3 alert alert-info" v-for="chatItem in chatStore.conversation">
                <div class="">{{chatItem.sender.name}}</div>
                <div class="">{{chatItem.created_at}}</div>    

                <div class="chat-body">
                    {{chatItem.chat}}
                </div>
             </div>
        </section>
    </div>
</template>