<script>

import {mapState} from 'vuex';
export default {
    name:'ChatUserList',
    computed:{
       ...mapState({
            chatStore : state => state.chatStore,
            userStore : state => state.userStore.userAuth
        }) 
    },
    methods:{
        userActiveStyle(user){
          
            if(this.chatStore.currentChatUser ===null){
                return false;
            }
           if(this.chatStore.currentChatUser.id === user.id){
                return true;
            }
            return false;
             
        },
        selectCurrentUser(user){
           
            this.$store.dispatch('setCurrentChatUser',user)
        }
    },
    
}
</script>

<template>
    <div class="wrapper-user-list" id="user-list-component">
        <ul class='list-group'>
             <li 
             @click='selectCurrentUser(user)'
             :class="['list-group-item',userActiveStyle(user) ? 'active': '']" 
             v-for="user in chatStore.userList"
             v-if="user.email != userStore.email"
             >{{user.name}}</li>
        </ul>
    </div>
</template>

<style lang="sass">
    .list-group 
            cursor:pointer
            .active
                  font-weight: 700
               
</style>