<script>
import chatUserList from '../chat/ChatUserList';
import ChatWidget from '../chat/ChatWidget';
import ChatAddNewMessage from '../chat/ChatAddNewMessage';
import {mapState} from 'vuex';
export default {
    name:"ChatPage",
    components:{
        'user-list':chatUserList,
        'chat-widget':ChatWidget,
        'new-chat-save':ChatAddNewMessage
    },
   
    computed:{
        ...mapState({
            chatStore:state=>state.chatStore
        })
    },
    created(){
        this.$store.dispatch('setUserList')
    }
}

</script>

<template>
    <div class="warapper-chat" id="chat-warapper">
        <section class="header">
            <h3 class="page-title">Chat</h3>
        </section>

        <section class="content row">
            <div class="col-md-3">
                <user-list></user-list>
            </div>
            <div class="col-md-9">
               <div class='chat-block'>
                   <chat-widget></chat-widget>
               </div>
               <div class="new-message" v-if='chatStore.currentChatUser'>
                   <new-chat-save></new-chat-save>
               </div>
            </div>
        </section>
    </div>
</template>