<template>
    <div class="w-100" id="app">
        <div class="alert alert-info">
                     Dashborad
        </div>
    </div>
</template>

<script>
export default {
 name:'Dashboard',
 data(){
   return {

      }
 },
 mounted(){
     console.log('mounted');
 }
 
}
</script>

<style lang="sass">
    
</style>