<template>
 <div class=" d-flex justify-content-center">
     <form @submit.prevent="handelOnSubmit" class="mt-5 col-md-4 p-4 login-form">
       <div class="form-group">
            <label for="loginFormEmail">Email address</label>
           <input v-model="loginForm.username" type="email" class="form-control" id="loginFormEmail" placeholder="username">
       </div>
      <div class="form-group">
           <label for="loginFormPassword">Password</label>
           <input v-model='loginForm.password' type="password" class="form-control" id="loginFormPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
     </form>
    </div> 
</template>
<script>

import {loginUrl,userUrl,getHeaders} from '../../configs';
import {clientId,clientSecret} from '../../.env.js';
export default {
  name: 'LoginPage',
  data(){
    return{
      loginForm:{
        username:'ali@gmail.com',
        password:'123'
      }
    }
  },
  methods:{
    handelOnSubmit(){
       const postData={
      grant_type:'password',
      client_id:clientId,
      client_secret:clientSecret,
      username:this.loginForm.username,
      password:this.loginForm.password,
      scope:''
    }
    const userAuth={};
    this.$http.post(loginUrl,postData).then(response=>{
          userAuth.access_token=response.data.access_token;
          userAuth.refresh_token=response.data.refresh_token;
          localStorage['userAuth']=JSON.stringify(userAuth);
           
        // get user;
        this.$http.get(userUrl,{headers:getHeaders()}).then(response=>{
          userAuth.email=response.data.email;
          userAuth.name=response.data.name;
          localStorage['userAuth']=JSON.stringify(userAuth); 
          this.$store.dispatch('setUser',userAuth) ;
          this.$router.push('dashboard');
        })
    });

    }
  },
  
}
</script>

<style lang="sass">
    .login-form
        background:#f3f3f3
</style>