<template>
    <div id="app">
        <!-- built files will be auto injected -->
         
        <top-menu v-if='userStore'></top-menu>
        <router-view></router-view>
    </div>
</template>

<script>
 import TopMenu from './components/TopMenu';
 import {mapState} from 'vuex';
   export default{
     name:"App",
     components:{
       TopMenu
     },
     data(){
       return{

       }
     },
     computed:{
       ...mapState({
         userStore: state => state.userStore.userAuth
       })
     },
      
  
     
   }
</script>

<style lang='sass'>
  @import './assets/styles/bootstrap.css';

</style>
